<template name="notFound">
    <table style="height:100%;width: 100%;margin: 0;padding: 0;border: 0;">
        <tr>
            <td style="vertical-align: middle;text-align: center;">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <p style="vertical-align: middle;text-align: center;">Flexurio processing your request<BR>Please wait a
                    momments,...</p>
            </td>
        </tr>
    </table>
</template>
