<template name="comments">
    <div class="form-group jumbotron shadow-z-5 createData">
        <form class="form-comments form-group has-info">
            <input class="form-control floating-label" name="comments" type="text"
                   placeholder="Types your comments" style="font-size: small;"><BR>
            <button type="submit" class="btn btn-primary btn-raised btn-sm">Submit</button>
            <a class="cancel btn btn-raised btn-sm" href="#">Cancel</a>
        </form>
    </div>
</template>